{{yield}}

<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>

{{#link-to "orders" class="active-menu waves-effect waves-dark"}}
                          <i class="fa fa-fw fa-file-o"></i> Orders
{{/link-to}}

                    </li>
                    <li>

<a href="#" class="waves-effect waves-dark" data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-fw fa-question-circle-o"></i> Support
</a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark">
                          <i class="fa fa-fw fa-user-plus"></i> Administration <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                              {{#link-to "team_directory"}}
  <i class="fa fa-fw fa-users"></i> Team Directory
{{/link-to}}
                            </li>
                            <li>

{{#link-to "index"}}
                                  <i class="fa fa-fw fa-files-o"></i> Escrow Accounts
{{/link-to}}

                            </li>
                            <li>
{{#link-to "index"}}
                                  <i class="fa fa-fw fa-credit-card"></i> Subscription Plan
{{/link-to}}
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>

        </nav>

        <div id="myModal" class="modal supportModel fade" role="dialog">
          <!-- <div class="modal-dialog"> -->

            <!-- Modal content-->
<form class="supportform">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title supportTitle">We love your feedback!</h4>
              </div>
              <div class="modal-body">

<div class="row">
<div class="col-md-12 modelinputRow">

<label>Topic</label>
    <select class="form-control supportDropdown" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">I have some feedback.</option>
      <option value="2">I want to connect.</option>
      <option value="3">Looking for job opportunity.</option>
    </select>
  </div>
<div class="col-md-12">
<textarea class="form-control supportDropdown" value="description" required action="disableButton" on="change" placeholder="Kindly give us some Description"></textarea>
</div>

</div>


              </div>
              <div class="modalFooter">
                  <p class="modelText">Your satisfaction is very important to us. If your issue requires immediate attention please contact us on(000) 000 0000.</p>
                  <button type="submit" class="btn btn-default feedbackSendButton">Send</button>

                </div>
  </form>

          <!-- </div> -->
        </div>
