{{yield}}

<nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                  {{#link-to "404" class="navbar-brand waves-effect waves-dark"}}
                  <img src="logo.jpg" style="width: auto; height: 55px;margin: 0px; padding: 0px 10px;">
{{/link-to}}

		<div id="sideNav" href="#"><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
				<li>
          <a class="dropdown-button waves-effect waves-dark" data-activates="dropdown1">
            <i class="fa fa-user-circle top_menu_icon"></i>
            <span class="user_name">Pritham Bhanji<span class="username_subHeading">Safekey Test Agency</span></span>
            <i class="fa fa-angle-down dropdown_arrow_userName" aria-hidden="true"></i>
          </a>
      </li>
            </ul>
        </nav>

        <ul id="dropdown1" class="dropdown-content">
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Documentation</a>
        </li>
        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
        </ul>
