{{yield}}

<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>

{{#link-to "orders" class="active-menu waves-effect waves-dark"}}
                          <i class="fa fa-fw fa-file-o"></i> Orders
{{/link-to}}

                    </li>
                    <li>

<a href="#" class="waves-effect waves-dark" data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-fw fa-question-circle-o"></i> Support
</a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark">
                          <i class="fa fa-fw fa-user-plus"></i> Administration <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                              {{#link-to "team_directory"}}
  <i class="fa fa-fw fa-users"></i> Team Directory
{{/link-to}}
                            </li>
                            <li>

{{#link-to "index"}}
                                  <i class="fa fa-fw fa-files-o"></i> Escrow Accounts
{{/link-to}}

                            </li>
                            <li>
{{#link-to "index"}}
                                  <i class="fa fa-fw fa-credit-card"></i> Subscription Plan
{{/link-to}}
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>

        </nav>

        <div id="myModal" class="modal supportModel fade" role="dialog">
          <!-- <div class="modal-dialog"> -->

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">We love your feedback!</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          <!-- </div> -->
        </div>
