body {
    font-family: 'Open Sans', sans-serif;
    /* background: #1F2837; */
}

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0px;
    min-height: 600px;
    background: #ececec;

}
#page-inner {
    width:100%;
    /* margin:10px 20px 10px 0px; */
    padding: 15px 30px;
    /* min-height:1200px; */
}
.header .container-fluid{
padding:0;
}

.btn:hover{
  background: #2f81d8 !important;
  color: #fff !important;
}

.user-list{
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  padding: 7px 0px;
}

.user-list:hover{
  background: #e8e5e5;
  padding: 10px 0px;
}

.user-list .col-md-2 {
  text-align: right;
}

.button404{
  margin-right: 12px;
}

.propertyDetails{
  font-weight: 600;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size: 14px;
    line-height:25px;
    /* padding-top:20px; */
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  color: #2f81d8;
  font-size: 13px;
}
.alert {
    border-radius: 0px;
}
.navbar-side {
    z-index: 0;
}
.panel{
border-radius:0px;
}
.navbar-side .nav > li > a > i{color: rgba(255, 255, 255, 0.62);padding: 8px;width: 20px;text-align: center;font-size: 14px;}
.top-navbar{position: fixed;width: 100%;z-index: 300;-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);}
.navbar-side {
  z-index: 2;
  position: fixed;
  width: 260px;
  top: 80px;
  box-shadow: none;
}
#page-wrapper {
  position: relative;
  top: 55px;
  /* box-shadow: 0 0 10px #757575; */
  -moz-box-shadow: 0 0 10px #757575;
  /* -webkit-box-shadow: 0 0 10px #757575; */
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {text-decoration: none;background-color: #e0e8f5;color: #fff;}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
.dropdown-menu>li>a i {
  color: #1F1F1F;
}
.text-muted {
  color: #213452;
}

.closed{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.closed i{color: #adadad;}

.supportform{
  height: 100%;
}

.nav > li > a{
  color: #6d6b6b;
}

.supportModel{
  /* border-radius: 10px !important; */
  background-color: #fff !important;
  /* max-height: 100% !important; */
  box-shadow: 0px 0px !important;
  width: 30% !important;
  padding-right: 0px !important;

}
.modelText{
  text-align: left;
line-height: 18px;
color:#7f7e7e;
}

.supportTitle{
  padding: 3px 0px !important;
  font-weight: 600;
}

.modal-header .close{
  padding: 7px 0px;
color: #fff;
opacity: 1;
}

.modal-header .close:hover{
  padding: 7px 0px;
color: #fff;
opacity: 0.6;
}

.feedbackSendButton{
  border-radius: 20px;
padding: 5px 20px;
}

.modalFooter{
  padding: 5px 20px;
  position: absolute;
bottom: 0px;
border-top: 1px solid #c4c4c4;
}

.modalFooter button{
  margin-bottom: 15px;
}

.modalFooter button{
  float: right;
}
select{ display: block !important;}

.modal-header{
padding: 5px 14px !important;
background: #2f81d8 !important;
color: #fff !important;
font-weight: 600;
}
.modelinputRow{
margin-bottom: 15px;
}

.supportDropdown{
  border: none;
  border-bottom: 1px solid #c4c4c4;
  box-shadow: 0px 0px;
  border-radius: 0px;
}

.supportDropdown:active, .supportDropdown:selection{
  border-bottom: 3px solid #2f81d8;
  box-shadow: 0px 0px;
}

.supportDropdown:hover{
  /* border-bottom: 2px solid #2f81d8; */
  box-shadow: 0px 0px;
}

.supportModel .modal-content{
  padding: 0px !important;
}

.nav > li > a:hover{
  color: #605f5f;
  background: #fff;
  border: transparent;
}

.chat-img>img {
    margin-left:20px;
}
footer p{
font-size: 13px;
text-align: center;
}
/*----------------------------------------------
    MENU STYLES
------------------------------------------------*/
div#sideNav:hover {
    color: #1f2837;
}
.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}
.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {color: #fff;width: 260px;text-align: left;height: 60px;font-size: 24px;font-weight: 700;/* text-transform: uppercase; */line-height: 30px;background: #ffffff;}
.navbar-brand b{
color: #4BD28C;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {position: relative;display: block;color: #484848;margin: 0px;}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {text-decoration: none;color: #175faa !important;background: transparent;}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
border: 0;}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #225081;
background:none;
}
.dropdown-tasks{
width: 255px;
}
.dropdown-tasks .progress {
height: 8px;
margin-bottom: 8px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 0px;
}
.dropdown-tasks > li > a {padding: 5px 14px;}
.dropdown-tasks p {
font-size: 13px;
line-height: 21px;
padding-top: 4px;
}
.active-menu, .active-menu i {
    background-color: #2f81d8 !important;
    color: #fff !important;
}
.active-menu i{
  /* color: #175faa !important; */
}
.arrow {
    float: right;
    margin: 8px 18px;
}
.dropdown_sorting{
  box-shadow: 0px 0px;
text-transform: capitalize;
border: none;
}

.dropdown_sorting:hover{
  box-shadow: 0px 0px;
text-transform: capitalize;
border: none;
background: #fff;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    /* padding-left: 37px; */
    font-size: 15px;
}

.sidenavSubmenu{
  float: right;
padding: 5px 11px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color: rgba(255, 255, 255, 0.39);
	background:transparent;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding: 8px;
	font-size: 17px;
}

.sidebar-collapse > .nav > li > a i {
	font-size: 18px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.08);
}
ul.nav.nav-second-level.collapse.in {background: #121821;}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	outline:0;
  background-color: #2f81d8;
}

.page_heading{
  font-size: 24px;
  font-weight: 600;
}


.page_heading_sub{
  display: block;
font-size: 13px;
padding-left: 34px;
line-height: 1px;
}

.page_icon{
  font-size: 1.5em;
  color: #fff;
}

.right_action_page_heading{
  font-size: 20px;
margin: 10px 0px;
}

.navbar-brand{
  padding: 0px !important;
}

.right_action_page_heading i{
  padding: 9px 15px;
  float: right;
  color: #fff;
}

.right_action_page_heading i:hover{
  color: #c4c4c4;
  cursor: pointer;
}

.top_menu_icon{
  font-size: 29px !important;
  float: left;
  padding: 2px 6px;
}

.user_name{
  font-size: 15px;
font-weight: 600;
float: left;
}

.user_name: hover{
color: #175faa;
}

.tile_heading{
  /* border-bottom: 1px solid #c4c4c4;  */
  margin-bottom: 0px;
}
.tile_control{
  float: left;
/* margin: 15px 0px 0px 0px; */
}
.tile_action_right{
  font-size: 18px;
margin: 10px 0px;
text-align: right;
}

.dropdown_arrow_userName{
  padding: 8px 10px;
  font-size: 18px !important;
}

.tile_heading_sub{
  font-size: 15px;
  display: block;
}
.card{
  padding: 0px 12px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  border: 0px solid #ddd !important;
  border-bottom:3px solid #2980B9 !important;
}

.background_overlay{
  width: 100%;
height: 15em;
position: absolute;
background: #175faa;
}

.np-margin{
  margin: 0px !important;
  padding: 0px !important;
}

.order_closing_btn{
  background: #c4c4c4;
color: #000;
}

.heading_pagination{
  font-size: 15px;
  padding-left: 25px;
border-left: 1px dashed #c4c4c4;
}

.heading_page_icon{
  font-size: 20px;
}

.tile_action_right i {
  margin: 9px 15px;
  cursor: pointer;
}

.tile_action_right i:hover {
color: #2980B9;
}

.navbar-top-links{
  margin-right: 15px !important;
}

.user_name span{
  display: block;
  line-height: 9px;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 100;
}

.page_heading_button{
  border-radius: 2em;
    color: #2d8bf3;
    background: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 9px 13px;
    /* border: 0.5px solid #2d8bf3; */
}

.page_heading_button:hover{
  background: #73e549;
  color: #fff;
  /* border: 1px solid #2d8bf3; */
}

.right_action_page_heading a{
  margin-right: 4px;
  float: right;
}

.navbar-side {
	border:none;
	background: #1F2837;
}
.top-navbar {
	background: #ffffff;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {margin-right: 0;}
.top-navbar .navbar-brand:hover {color: #FFFFFF;
  /* background-color: #175faa;
   */
 }


.dropdown-user li {
margin: 8px 0;
}
.navbar-default {border: 0px solid #1f2837;}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {background-color: #175faa;}
.navbar-default .navbar-toggle {border-color: #175faa; background-color: #ffffff;}

.navbar-default span {color: #175faa;}
.navbar-default .icon-bar {color: #175faa !important;}

.navbar-default .navbar-toggle .icon-bar {background-color:  #175faa;}
.nav > li > a > i {
    margin-right:10px;
    color: #1f2837;
    font-size: 16px;
}
.dropdown-menu>li>a>strong {
  color: #0866C6;
  padding: 5px 0;
  display: inline-block;
  font-weight: 500;
}
#sideNav{
    float: left;
    left: 0;
    z-index: 3;
    color: #1f2837;
    cursor:pointer;
    border-radius: 0;
    width: 14px;
    font-size: 44px;
    line-height: 33px;
    margin: 7px 0 0 13px;
    background: #ffffff;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    padding-top: 5px;
    margin-top: 14px;
    border-radius: 50%;
}
ul.dropdown-menu.dropdown-messages li a div {
  padding: 2px 0;
}
#page-wrapper{
	background: #e0e8f5;
}
.dashboard-cards .card-stacked{
	color:#fff;
	border-left: 1px solid rgba(255, 255, 255, 0.18);
}
.dashboard-cards .card-content{
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.dashboard-cards .card-action strong{
	font-weight:700;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.65);
}
.donutpad {
    padding: 32px 0;
}
.cirStats h4{
	text-transform:uppercase;
}
.card-action b{
	text-transform:uppercase;
}
.collection .collection-item{
	padding: 16px 20px;
}
/*----------------------------------------------
    UI ELEMENTS STYLES
------------------------------------------------*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
               padding: 0;
               /* min-height: 1200px; */
    }


    .navbar-side {
        width: 260px;
        z-index: 1;
        top: 4.2em;
        height: 100%;
    }

   .navbar {
 border-radius: 0px;
 top:0px;
}

}
 @media(max-width:768px) {
	#sideNav{
	display:none;
}

 #page-wrapper {
position: absolute;
top: 0px !important;
margin-left: 0px !important;
 }
 }
 @media(max-width:480px) {

#page-inner{
  padding: 0px !important;
}

.page_icon{
  margin-top: 3.5em;
}


.top-navbar .navbar-brand{
  width: 190px;
}

 #page-wrapper {
position: relative;
top: 93px;
margin-left: 0px !important;
 }
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
#sideNav{
	display:none;
}
.panel-left {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  overflow: hidden;
  margin: 14px;
}
}
.dropdown-content{
    min-width: 165px !important;
    left: -15px !important;
    top: 60px !important;
}
.w250{
	    min-width: 255px !important;
	    left: -184px !important;
}
.top-navbar .nav > li > a b{
	margin:0 5px;
}
.dropdown-content li>a{
	font-size:14px;
	text-decoration:none;
	color: #233342;
}
.dropdown-content li>a i{
	font-size:16px;
}
.dropdown-content li>a{
	font-size: 12px;
	/* margin: 0 4px; */
	padding: 0;
}
.card.horizontal.cardIcon .card-image {
    background: #30cc7b;
    color: #fff !important;
    font-size: 10px;
    width: 94px;
    text-align: center;
    vertical-align: middle;
}
.card.horizontal.cardIcon .card-image i {
    margin-top: 45%;
    font-size: 55px;
    opacity: .4;
}
.navbar-brand i.large.material-icons {
    float: left;
    font-size: 31px;
    margin-right: 6px;
}
.clearBoth{
	 clear:both;
}
.icon-preview {
    font-size: 13px !important;
    padding: 15px !important;
    display: inline-block;
    line-height: 20px !important;
}
.icon-preview span {
    display: inherit;
}
.header .breadcrumb:before{
	    font-size: 14px;
	    margin-right: 0px;
	    color: #717171;
	    display: none;
}
.header .breadcrumb li a{
	font-size: 13px;
	font-size: 13px;
	text-decoration: none;
	color: #717171;
	text-decoration: none;
	color: #175faa;
}
.dropdown-content li{
	padding: 15px;
	color: #233342;
	font-size: 13px;
}
.taskList li{padding: 20px 15px 5px;background: #fff;font-size: 12px;}
.taskList > div{
padding: 0 15px 0px 15px;
}
.taskList p{
}
.taskList .dropdown-content li>a {
    font-size: 12px;
    padding:0px;
}
.taskList li:last-child {
    padding-top: 5px;
    color: #175faa;
}
 @media(max-width:768px) {

	 .navbar-header {
		background: #fff;
	}
	.navbar-side {
		z-index: 2;
		position: fixed;
		width: 260px;
		top: 69px;
		box-shadow: none;
	}
 }
  @media(max-width:520px) {
	  ul#dropdown1 {
			left: 0px !important;
		}
	 ul#dropdown2 {
			left: -69px !important;
		}
		.top-navbar .nav > li > a{
			padding:17px 12px;
		}
 }
   @media(max-width:320px) {
     #page-inner{
       padding: 0px !important;
     }
     .page_icon{
       margin-top: 3.5em;
     }

     .top-navbar .navbar-brand{
       width: 190px;
     }

     #page-wrapper {
    margin-left: 0px !important;
     }
	  ul#dropdown1 {
			left: 0px !important;
		}
	 ul#dropdown2 {
			left: -69px !important;
		}
		.top-navbar .nav > li > a{
			padding:17px 9px;
		}
 }
