<div id="page-wrapper">

<div class="background_overlay"></div>

            <div id="page-inner">

              <div class="row">
              <div class="col-md-12 page_icon"><i class="fa fa-fw fa-file-o"></i>
                <span class="page_heading">Page you are loking for is not yet created...</span></div>

              </div>

              <div class="row">
              <div class="col-md-12">
                                <div class="card">
<div class="row tile_heading">
<div class="col-md-12">

</div>
</div>


<div class="tile_detail">
  <div class="card-action">

<h1>SafeChain</h1>
<h4>The most secure fraud prevention software for title professionals. <br/>We are innovators dedicated to building beautiful software to increase title closing efficiency and decrease liabilities faced by Title Service Professionals. Let's innovate together!</h4>
  </div>

  <div class="card-content">

    <div class="col-md-12 np-margin">
      <p style="margin-bottom: 15px">You can check orders or team directory insted.</p>


        {{#link-to "orders" class="order_closing_btn waves-effect waves-light btn button404"}}
        <i class="fa fa-file-o" aria-hidden="true" style="padding-right: 6px;"></i>Orders
    {{/link-to}}


        {{#link-to "team_directory" class="order_closing_btn waves-effect waves-light btn button404"}}
        <i class="fa fa-user-plus" aria-hidden="true" style="padding-right: 6px;"></i>Team Directory
        {{/link-to}}

      <a class="order_closing_btn waves-effect waves-light btn button404" href="https://www.safechain.io/" target="_blank">
        <i class="fa fa-external-link" aria-hidden="true" style="padding-right: 6px;" ></i> Visit Safechain</a>

  </div>


    <div class="clearBoth"></div>
  </div>

</div>

        </div>
                </div>
              </div>


				{{app-footer}}
            </div>
            <!-- /. PAGE INNER  -->
        </div>
